*{
  margin:0;
  padding:0;
  margin-block-start:0;
  margin-block-end:0;
  margin-inline-start:0;
  margin-inline-end:0;
}

@font-face {
	font-family: "Roboto-mono";
	src: url("../src/RobotoMono-VariableFont_wght.ttf");
}
@font-face {
	font-family:"Roboto-regular";
	src: url("../src/Roboto-Regular.ttf");
 }

@keyframes fadeandzoomin {
	from {
		opacity: 0.5;
		height: 50%;
		width: 50%;
	}
	to   {
		opacity: 1;
		height: 100%;
		width: 100%;
	}
}

@keyframes fadein {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadeout {
	from{
		opacity: 1;
		height: 100%;
		width: 100%;
	}
	to{
		opacity: 0;
		height: 50%;
		width: 50%;
		display: none;
	}
}

html, body{
	width: 100%;
	height: 100%;

	background-color: #2d4f81;
	font-family: Roboto-regular, sans-serif;
	color: #fff;
	font-size: 15px;
	scroll-behavior: smooth;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}

#close{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2;

	background-color: rgb(200,200,200);
	color: rgb(0,0,0);
	font-weight: 900;
	font-size: 18px;
	height: 35px;
	width: 35px;
	border-radius: 10%;

	cursor: default;

	justify-content: center;
	align-items: center;

	animation: fadein 1s;
}

#main{
	position: fixed;
	width: 100vW;
	height: 100vH;
	min-width: 500px;
	min-height: 500px;
	z-index: 1;

	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 100px 1fr 100px;
	/* 3 Reihen:		1  2content3  4*/
	grid-template-columns: 100px 1fr 100px;
	/* 3 Spalten:		   1  2content3  4	*/
	justify-content: center;
	align-items: center;
}

#contentwrapper{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	height: 100%;
	width: 100%;
	padding: 20px;

	background-image: linear-gradient(to bottom, #6585CFff 10%, #0536A7dd 90%);
	border-width: 1px;
	border-color: #00206B;

	bottom: 0;
	z-index: 1;
}
/*
#content{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;

	background-image: linear-gradient(to bottom, #6585CFff 10%, #0536A7dd 90%);
	border-color: #00206B;
	animation: fadeandzoomin 1s;
	animation-delay: 1s;

	display: none;		/ flex
	justify-content: center;
	align-items: center;
	bottom: 0;
}
*/
x3d{
	position: fixed;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vH;
	z-index: 0;
}

.invisible{
	display: none;
	/*animation: fadeout 1s;*/
}

.visibleflex{
	display: flex;
	animation: fadeandzoomin 1s;
	/*animation-delay: 1s;*/
}

visiblegrid{
	display: grid;
}

.center{
	justify-content: center;
	align-items: center;
}

.orders .noorder{
	position: relative;
	height: 100%;
	width: 100%;
	bottom: 0;
	z-index: 2;
}